.tusCitas {
    width: 100%;
    min-height: 85svh;
    background-color: var(--mbp-color-2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--mbp-padding-l);
    gap: var(--mbp-gap-m);
}

@media screen and (max-width: 400px) {
    .tusCitas {
        padding: var(--mbp-padding-s);
        padding-top: var(--mbp-padding-l);
    }

}